@model Apprenticeship.Models.Intermediate.IntermediateMentor
@{
    ViewData["Title"] = "Edit School Mentor";
}
<h1>@ViewData["Title"]</h1>


@using (@Html.BeginForm("EditSchoolMentor", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="form-group">
    @Html.HiddenFor(x => x.Id)
    @Html.TextBoxFor(x => x.FirstName, new { placeholder = "Enter first name", @class = "form-control" })
    @Html.TextBoxFor(x => x.SecondName, new { placeholder = "Enter second name", @class = "form-control" })
    @Html.TextBoxFor(x => x.LastName, new { placeholder = "Enter last name", @class = "form-control" })
    @Html.TextBoxFor(x => x.CompanyName, new { placeholder = "Enter Company Name", @class = "form-control" })
    @Html.TextBoxFor(x => x.Address, new { placeholder = "Enter address", @class = "form-control" })
    @Html.TextBoxFor(x => x.PhoneNumber, new { placeholder = "Enter phone number", @class = "form-control" })
</div>

    <button type="submit" class="btn btn-primary">Submit</button>
}
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
    })
</script>
