@model dynamic
@{
    ViewData["Title"] = "Students";
}
<h1>@ViewData["Title"]</h1>
<div class="text-right">
    @Html.ActionLink("Create Student", "CreateStudent", "User", null, new { @class = "btn btn-primary" })
</div>
<div class="bd-example table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-left" scope="col">Student name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model.students)
            {
                <tr>
                    <td class="text-left" scope="col">@s.FirstName @s.LastName</td>
                    <td class="text-right" scope="col">
                        @Html.ActionLink("Tasks", "TimeLine", "Student", new { studentId = @s.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Edit", "StudentEditView", "User", new { studentId = @s.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Delete", "DeleteStudent", "User", new { studentId = s.Id }, new { @class = "btn btn-danger", @onclick = "return confirm('Are you sure?');" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




