@model Apprenticeship.Models.Intermediate.IntermediatePlacement
@{
    ViewData["Title"] = "Set Placement";
}
<h1>@ViewData["Title"]</h1>


@using (@Html.BeginForm("Create", "Placement", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-group">
    <div class="text-danger font-weight-bold text-center">@ViewBag.errorMsg</div>
    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(x => x.CompanyName, new { @class = "form-control font-weight-bolder" })
        </div>
        <div class="col-md-5">
            @Html.TextBoxFor(x => x.CompanyName, new { placeholder = "Enter Company Name", @class = "form-control" })
        </div>
        <div class="col-md-3">
            @Html.ValidationMessageFor(x => x.CompanyName, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.Label("Student", "Student", new { @class = "form-control font-weight-bolder" })
        </div>
        <div class="col-md-5">
            <select class="form-control" name="StudentId">
                <option disabled selected>Select Student</option>
                @foreach (var student in ViewBag.students)
                {
                    <option value="@student.Value">@student.Text</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            @Html.ValidationMessageFor(x => x.StudentId, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.Label("School Mentor", "School Mentor", new { @class = "form-control font-weight-bolder" })
        </div>
        <div class="col-md-5">
            <select class="form-control" name="SchoolMentorId">
                <option disabled selected>Select School Mentor</option>
                @foreach (var schoolMentor in ViewBag.schoolMentors)
                {
                    <option value="@schoolMentor.Value">@schoolMentor.Text</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            @Html.ValidationMessageFor(x => x.SchoolMentorId, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.Label("Work Mentor", "Work Mentor", new { @class = "form-control font-weight-bolder" })
        </div>
        <div class="col-md-5">
            <select class="form-control" name="WorkMentorId">
                <option disabled selected>Select Work Mentor</option>
                @foreach (var workMentor in ViewBag.workMentors)
                {
                    <option value="@workMentor.Value">@workMentor.Text</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            @Html.ValidationMessageFor(x => x.WorkMentorId, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(x => x.StartDate, new { @class = "form-control font-weight-bolder" })
        </div>
        <div class="col-md-5">
            @Html.TextBoxFor(x => x.StartDate, new { placeholder = "Enter Start Date", @class = "form-control", data_provide = "datepicker", data_date_autoclose = "true", data_date_format = "yyyy-mm-dd" })
        </div>
        <div class="col-md-3">
            @Html.ValidationMessageFor(x => x.StartDate, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(x => x.StartDate, new { @class = "form-control font-weight-bolder" })
        </div>
        <div class="col-md-5">
            @Html.TextBoxFor(x => x.EndDate, new { placeholder = "Enter End Date", @class = "form-control", data_provide = "datepicker", data_date_autoclose = "true", data_date_format = "yyyy-mm-dd" })
        </div>
        <div class="col-md-3">
            @Html.ValidationMessageFor(x => x.EndDate, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.Label("Noses", "Nos Units", new { @class = "form-control font-weight-bolder" })
        </div>
        <div class="col-md-5">
            <select class="selectpicker form-control" multiple data-live-search="true" name="Noses">
                <option disabled selected>Select Noses</option>
                @foreach (var nos in ViewBag.noses)
                {
                    <option value="@nos.Value">@nos.Text</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            @Html.ValidationMessageFor(x => x.Noses, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(x => x.portfolio, new { @class = "font-weight-bolder" })
        </div>
        <div class="col-md-5">
            <div class="custom-file">
                <input type="file" name="portfolio" multiple class="custom-file-input" id="customFileLang" lang="en-us">
                <label class="custom-file-label" for="customFileLang">Upload File</label>
            </div>
        </div>
        <div class="col-md-3">
            @Html.ValidationMessageFor(x => x.portfolio, null, new { @class = "text-danger" })
        </div>
    </div>







</div>
    <button type="submit" class="btn btn-primary">Submit</button>
}
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
        $('.datepicker').datepicker();
    })

    
</script>
