@model dynamic
@{
    ViewData["Title"] = "Tasks";
}
<h1>@ViewData["Title"]</h1>
<div class="text-right">
    @Html.ActionLink("Submit new task", "Create", "Tasks", null, new { @class = "btn btn-primary" })
</div>
<div class="bd-example table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-left" scope="col">Title</th>
                <th class="text-left" scope="col">Student name</th>
                <th class="text-left" scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model.tasks)
            {
                <tr>
                    <td class="text-left" scope="col">@s.Title</td>
                    <td class="text-left" scope="col">@s.Student.FirstName @s.Student.LastName</td>
                    @if (s.Status == ReportApprovalStatus.PendingApproval)
                    {
                        <td class="text-left text-info" scope="col">Pending Approval</td>
                    }
                    else if (s.Status == ReportApprovalStatus.Rejected)
                    {
                        <td class="text-left text-danger" scope="col">@s.Status</td>
                    }
                    else
                    {
                        <td class="text-left text-success" scope="col">@s.Status</td>
                    }
                    <td class="text-right" scope="col">
                        @if (s.Status == ReportApprovalStatus.Rejected)
                        {
                            @Html.ActionLink("View and edit", "EditView", "Tasks", new { taskId = s.Id }, new { @class = "btn btn-primary", @style = "margin-right: 3px !important;" })

                            @Html.ActionLink("Delete", "Delete", "Tasks", new { taskId = s.Id }, new { @class = "btn btn-danger", @onclick = "return confirm('Are you sure?');" })
                        }
                        else
                        {
                            @Html.ActionLink("View", "ViewTask", "Tasks", new { taskId = s.Id }, new { @class = "btn btn-primary", @style = "margin-right: 3px !important;" })
                            @Html.ActionLink("Edit", "EditView", "Tasks", new { taskId = s.Id }, new { @class = "btn btn-primary", @style = "margin-right: 3px !important;" })
                            @Html.ActionLink("Delete", "Delete", "Tasks", new { taskId = s.Id }, new { @class = "btn btn-danger", @onclick = "return confirm('Are you sure?');" })
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>  